In [1]:
import sys
import os
sys.path.append('../dags')

from database import create_database_engine


# í™˜ê²½ ë³€ìˆ˜ ì„¤ì •
os.environ["POSTGRES_USER"] = "airflow"
os.environ["POSTGRES_PASSWORD"] = "airflow"
os.environ["POSTGRES_DB"] = "events"
os.environ["POSTGRES_PORT"] = "5433"

engine = create_database_engine(host="127.0.0.1")
print("Successfully connected to the database")

Successfully connected to the database

In [2]:
import pandas as pd
from datetime import datetime


# ë‚˜ë¨¸ì§€ëŠ” ë³€ìˆ˜ë¡œ ê´€ë¦¬
label_table = "kind"
return_table = "abnormal_return_kind"
label_col = "label"

# í¬í•¨í•  abnormal return ì»¬ëŸ¼
abn_return_cols = [
    "abn_ret_minus_10m", "abn_ret_minus_20m", "abn_ret_minus_30m", 
    "abn_ret_minus_40m", "abn_ret_minus_50m", "abn_ret_minus_60m",
    "abn_ret_10m", "abn_ret_20m", "abn_ret_30m", 
    "abn_ret_40m", "abn_ret_50m", "abn_ret_60m"
]

# SQL ì»¬ëŸ¼ ë¬¸ìì—´ì„ ë§Œë“¬ (event_id, event_tsëŠ” í•˜ë“œì½”ë”©)
sql_columns = (
    [f"ar.event_ts"] +
    [f"ar.{col}" for col in abn_return_cols] +
    [f"k.{label_col}"]
)
sql_columns_str = ",\n    ".join(sql_columns)

query = f"""
SELECT {sql_columns_str}
FROM {return_table} ar
JOIN "{label_table}" k ON ar.event_id = k.id
ORDER BY ar.event_ts ASC
"""

df_total = pd.read_sql(query, engine)
df_total["period_dummy"] = (
    pd.to_datetime(df_total["event_ts"], utc=True) > pd.Timestamp("2022-06-30", tz="UTC")
).astype(int)
df_total

WARNING:  database "events" has a collation version mismatch
DETAIL:  The database was created using collation version 2.36, but the operating system provides version 2.41.
HINT:  Rebuild all objects in this database that use the default collation and run ALTER DATABASE events REFRESH COLLATION VERSION, or build PostgreSQL with the right library version.

,event_ts,abn_ret_minus_10m,abn_ret_minus_20m,abn_ret_minus_30m,abn_ret_minus_40m,abn_ret_minus_50m,abn_ret_minus_60m,abn_ret_10m,abn_ret_20m,abn_ret_30m,abn_ret_40m,abn_ret_50m,abn_ret_60m,label,period_dummy
0,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
1,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
2,2021-01-04 10:08:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,-1.91,-0.66,-1.47,-1.37,-0.60,-0.95,1,0
3,2021-01-04 10:14:00+00:00,-8.40,NaN,NaN,NaN,NaN,NaN,-4.90,-4.20,-3.46,-5.53,-5.16,-6.00,1,0
4,2021-01-04 10:16:00+00:00,0.22,1.55,1.55,1.55,NaN,NaN,0.03,-0.83,-0.54,-0.96,-0.57,-1.83,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8651,2023-12-28 14:46:00+00:00,-1.82,-1.92,-2.05,-1.96,-2.06,-1.89,7.36,4.96,5.17,NaN,NaN,NaN,1,1
8652,2023-12-28 14:53:00+00:00,-0.08,0.80,0.02,0.26,0.25,0.86,0.24,0.24,NaN,NaN,NaN,NaN,1,1
8653,2023-12-28 14:56:00+00:00,0.21,0.66,0.07,1.30,1.76,1.52,0.42,-0.14,NaN,NaN,NaN,NaN,0,1
8654,2023-12-28 14:56:00+00:00,0.21,0.66,0.07,1.30,1.76,1.52,0.42,-0.14,NaN,NaN,NaN,NaN,0,1
8655,2023-12-28 15:10:00+00:00,0.11,0.30,0.30,0.10,0.23,0.28,-0.49,NaN,NaN,NaN,NaN,NaN,-1,1

In [3]:
df_total[df_total["period_dummy"] == 1].head()

,event_ts,abn_ret_minus_10m,abn_ret_minus_20m,abn_ret_minus_30m,abn_ret_minus_40m,abn_ret_minus_50m,abn_ret_minus_60m,abn_ret_10m,abn_ret_20m,abn_ret_30m,abn_ret_40m,abn_ret_50m,abn_ret_60m,label,period_dummy
5072,2022-07-01 10:03:00+00:00,-1.80,-1.61,-2.03,-2.74,-2.32,-1.18,-1.27,-2.41,-2.36,-1.79,-2.98,-1.98,1,1
5073,2022-07-01 10:24:00+00:00,-1.57,-1.62,-1.91,-1.33,-2.52,-1.48,0.53,2.43,1.19,1.57,1.38,1.72,1,1
5074,2022-07-01 10:26:00+00:00,0.10,0.62,0.34,-0.91,-0.29,-0.43,0.14,0.19,1.01,1.58,1.87,1.68,0,1
5075,2022-07-01 10:43:00+00:00,-0.89,-0.92,-0.82,-0.81,-0.59,0.16,0.08,0.36,0.31,0.12,-0.18,0.23,0,1
5076,2022-07-01 11:03:00+00:00,-0.21,-0.13,-0.76,-1.02,-1.21,-0.91,-0.23,0.13,0.09,-0.02,-0.26,-0.13,1,1

# íšŒê·€ë¶„ì„

### ğŸ“˜ ëª¨í˜•ì‹

$$
\left| CAR_{post,i} - CAR_{pre,i} \right| = \alpha + \beta \cdot Telegram_i + \epsilon_i
$$

---

### ğŸ“Š ë³€ìˆ˜ ì„¤ëª…

**ì¢…ì†ë³€ìˆ˜ (Dependent Variable)**  
ì´ë²¤íŠ¸ ì „í›„ CAR ë³€í™”í­ì˜ ì ˆëŒ“ê°’:

$$
\left| CAR_{post,i} - CAR_{pre,i} \right|
$$


**ì„¤ëª…ë³€ìˆ˜ (Key Independent Variable)**  
í…”ë ˆê·¸ë¨ ë„ì… ì—¬ë¶€ ë³€ìˆ˜:

$$
Telegram_i =
\begin{cases}
1, & \text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ (After introduction)} \\
0, & \text{ë„ì… ì´ì „ (Before introduction)}
\end{cases}
$$

---

### ğŸ“‘ ê°€ì„¤ ì„¤ì •

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ì™€ ì´ì „ ê°„ CAR ë³€í™”í­ì˜ ì°¨ì´ê°€ ì—†ë‹¤.}) \\
H_1 &: \beta < 0 \quad &(\text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ CAR ë³€í™”í­ì´ ê°ì†Œí–ˆë‹¤.})
\end{aligned}
$$
---

### ğŸ“ˆ í•´ì„

ì´ íšŒê·€ëª¨í˜•ì€ **í…”ë ˆê·¸ë¨ ë„ì… ì—¬ë¶€**ê°€ ì´ë²¤íŠ¸ ì „í›„ ëˆ„ì ì´ˆê³¼ìˆ˜ìµë¥ (CAR) ë³€í™”í­ì˜ í¬ê¸°ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì„ ë¶„ì„í•˜ê¸° ìœ„í•œ ê²ƒì…ë‹ˆë‹¤.  
Î² < 0 ì´ê³  í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤ë©´ ê·€ë¬´ê°€ì„¤ì´ ê¸°ê°ë˜ì–´ ê³µì‹œ ì •ë³´ê°€ ë„ì… ì´í›„ ì‹œì¥ì— ë³´ë‹¤ ì‹ ì†í•˜ê²Œ ë°˜ì˜ë˜ì–´ ì •ë³´ ë¹„íš¨ìœ¨ì„±ì´ ê°ì†Œí–ˆìŒì„ ì‹œì‚¬í•˜ë©°, í…”ë ˆê·¸ë¨ ê³µì‹œ ì•Œë¦¼ ì„œë¹„ìŠ¤ê°€ ì‹œì¥ íš¨ìœ¨ì„± í–¥ìƒì— ì‹¤ì§ˆì ìœ¼ë¡œ ê¸°ì—¬í–ˆìŒì„ ë³´ì—¬ì¤ë‹ˆë‹¤.

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# df_totalì´ ì´ë¯¸ ì¡´ì¬í•œë‹¤ê³  ê°€ì •
horizons = [10, 20, 30, 40, 50, 60]
rows = []

for h in horizons:
    post_col = f"abn_ret_{h}m"
    pre_col  = f"abn_ret_minus_{h}m"
    if post_col not in df_total.columns or pre_col not in df_total.columns:
        raise KeyError(f"'{post_col}' ë˜ëŠ” '{pre_col}' ì»¬ëŸ¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")

    y = (df_total[post_col] - df_total[pre_col]).abs()
    X = sm.add_constant(df_total["period_dummy"], has_constant="add")

    valid = ~(y.isna() | X.isna().any(axis=1))
    y_ = y[valid]
    X_ = X[valid]

    model = sm.OLS(y_, X_).fit(cov_type="HC1")

    beta = model.params.get("period_dummy", np.nan)
    se   = model.bse.get("period_dummy", np.nan)
    tval = model.tvalues.get("period_dummy", np.nan)
    pval = model.pvalues.get("period_dummy", np.nan)

    rows.append({
        "horizon_min": h,
        "beta": beta,
        "std_err": se,
        "t_value": tval,
        "p_value": pval,
        "sig_0.05": "*" if (not pd.isna(pval) and pval < 0.05) else "",
        "n_obs": int(model.nobs),
        "r_squared": model.rsquared
    })

result_table = pd.DataFrame(rows).sort_values("horizon_min").reset_index(drop=True)

# âœ… p-value í¬ë§· ì¡°ì • (ì§€ìˆ˜í‘œê¸° ì—†ì´ ì†Œìˆ˜ì  8ìë¦¬, 0ì€ "<1e-8"ë¡œ í‘œì‹œ)
result_table["p_value"] = result_table["p_value"].apply(
    lambda x: f"{x:.12f}" if (x > 0 and not pd.isna(x)) else "<1e-8"
)

# ë³´ê¸° ì¢‹ê²Œ ì¶œë ¥
display_cols = ["horizon_min", "beta", "std_err", "t_value", "p_value", "sig_0.05", "n_obs", "r_squared"]
print(result_table[display_cols].to_string(index=False))

 horizon_min     beta  std_err  t_value        p_value sig_0.05  n_obs  r_squared
          10 0.127670 0.049418 2.583460 0.009781479642        *   8135   0.000883
          20 0.062642 0.053005 1.181820 0.237277078924            7629   0.000190
          30 0.037722 0.057516 0.655852 0.511919467183            7078   0.000062
          40 0.011830 0.075152 0.157419 0.874914541466            6552   0.000004
          50 0.077764 0.081206 0.957615 0.338256742779            6004   0.000158
          60 0.054313 0.084980 0.639127 0.522740578497            5446   0.000076

# ë°©í–¥ ì •í•©ì„±

### ğŸ“˜ ëª¨í˜•ì‹ ì •ì˜

$$
\text{logit}^{-1}(x) = \frac{1}{1 + e^{-x}}
$$

$$
Pr(hit_{i,t} = 1) = \text{logit}^{-1}(\alpha + \beta \cdot period\_dummy_i)
$$
---

### ğŸ“Š ë³€ìˆ˜ ì„¤ëª…


ì´ë²¤íŠ¸ *i*, ì°½ *t* ì— ëŒ€í•´ Delta CAR, post CAR 2ê°œì˜ ì§€í‘œë¥¼ ì‚¬ìš©

$$
t \in \{10,\,20,\,\dots,\,60\}
$$

$$
\Delta CAR_{i,t} = CAR_{post,i,t} - CAR_{pre,i,t}  
$$

$$
CAR_{post,i,t}
$$

$$
label\_sign_i =
\begin{cases}
+1, & \text{ê¸ì • (1)} \\
0, & \text{ì¤‘ë¦½ (0)} \\
-1, & \text{ë¶€ì • (-1)} 
\end{cases}
$$



$$
hit_{i,t} =
\begin{cases}
1, & \text{if } \operatorname{sign}(\Delta CAR_{i,t}) = label\_sign_i \\
0, & \text{otherwise}
\end{cases}
$$

---

### ğŸ“‘ ê°€ì„¤ ì„¤ì •

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{ë„ì… ì „í›„ ì°¨ì´ ì—†ìŒ}) \\
H_1 &: \beta > 0 \quad &(\text{ë„ì… í›„ ì •í•©ë¥  ìƒìŠ¹})
\end{aligned}
$$

---

### ğŸ“ˆ í•´ì„

- delta CAR: Î² > 0 ì´ê³  **í†µê³„ì ìœ¼ë¡œ ìœ ì˜**í•˜ë‹¤ë©´  â†’ â€œí…”ë ˆê·¸ë¨ ì„œë¹„ìŠ¤ ì¶œì‹œ ì´í›„ ê³¼ì‰ë°˜ì‘ ê°ì†Œ / ì¦‰ì‹œ ë°˜ì˜ í›„ ë¹ ë¥¸ ìˆ˜ë ´ â†’ ì •ë³´ì˜ ì„ ë°˜ì˜ ë° ì‚¬ì „ í™•ì‚°ì´ ê°•í™” â†’ ì •ë³´ íš¨ìœ¨ì„± í–¥ìƒâ€ì„ ì˜ë¯¸í•œë‹¤ê³  ë³¼ ìˆ˜ ìˆë‹¤.
- Post CAR: Î² > 0 ì´ê³  **í†µê³„ì ìœ¼ë¡œ ìœ ì˜**í•˜ë‹¤ë©´  â†’ â€œí…”ë ˆê·¸ë¨ ì„œë¹„ìŠ¤ ì¶œì‹œ ì´í›„ ì´ë²¤íŠ¸ ë°œí‘œ ì´í›„ì˜ ì •í•©ë¥ (ì •í™•ë„) ì¦ê°€ â†’ ì‹œì¥ ë°˜ì‘ì˜ ì¦‰ì‹œ ë°˜ì˜ ê°•í™” â†’ ì •ë³´ íš¨ìœ¨ì„± í–¥ìƒâ€ì„ ì˜ë¯¸í•œë‹¤ê³  í•´ì„í•  ìˆ˜ ìˆë‹¤.

# ì¤‘ë¦½ í¬í•¨

In [5]:
from hypothesis_test import (
    print_sample_summary_with_neutral,
    logistic_hit_delta_with_neutral,
    logistic_hit_postCAR_with_neutral,
    run_logistic_table
)

# === ì „ì²´ íŒŒì´í”„ë¼ì¸ (ì¤‘ë¦½ í¬í•¨, ì¤‘ë¦½ì€ Î”CAR/POSTCAR ì ˆëŒ€ê°’ ê¸°ì¤€) ===

df = df_total.copy()
df["label_sign"] = df["label"]

df_full = print_sample_summary_with_neutral(df, "label_sign")

# Î”CAR ê¸°ì¤€ (pre/post window ì°¨ì´ ì‚¬ìš©, ì¤‘ë¦½ì€ epsilon ìë™ ê³„ì‚°)
windows = [10, 20, 30, 40, 50, 60]
results_delta_w_neutral = run_logistic_table(
    logistic_hit_delta_with_neutral, df_full, windows, label="Î”CAR (neutral incl.)"
)

# post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ, ì¤‘ë¦½ì€ epsilon ìë™ ê³„ì‚°)
results_post_w_neutral = run_logistic_table(
    logistic_hit_postCAR_with_neutral, df_full, windows, label="post CAR (neutral incl.)"
)

=== Sample summary (including neutral) ===
Total events:        8,656
Neutrals:            2,980
  - Positive (1):    4,906
  - Negative (-1):   770


--- Î”CAR (neutral incl.) ê¸°ì¤€ ê²°ê³¼ ---
 t beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs     R2  adj_R2
10   -0.0979 0.0507  -1.933 0.053240       0.907     0.764    0.746    -1.81   8656 0.0004 -0.0000
20   -0.0909 0.0473  -1.920 0.054854       0.913     0.704    0.685    -1.93   8656 0.0003 -0.0000
30  -0.1098* 0.0454  -2.420 0.015513       0.896     0.651    0.625    -2.54   8656 0.0005  0.0002
40  -0.1068* 0.0444  -2.408 0.016027       0.899     0.603    0.577    -2.58   8656 0.0005  0.0002
50  -0.0872* 0.0438  -1.994 0.046143       0.916     0.547    0.525    -2.17   8656 0.0003 -0.0000
60  -0.0889* 0.0437  -2.034 0.041956       0.915     0.494    0.472    -2.22   8656 0.0003  0.0000

--- post CAR (neutral incl.) ê¸°ì¤€ ê²°ê³¼ ---
 t  beta_star    std  t_stat      p_value  odds_ratio  p_before  p_after  diff_pp  n_obs     R2  adj_R2
10 -0.2265*** 0.0444  -5.098 3.424550e-07       0.797     0.621    0.567    -5.46   8656 0.0022  0.0019
20 -0.1945*** 0.0440  -4.423 9.738388e-06       0.823     0.585    0.537    -4.79   8656 0.0017  0.0013
30 -0.2439*** 0.0438  -5.572 2.511200e-08       0.784     0.560    0.499    -6.07   8656 0.0026  0.0023
40 -0.2094*** 0.0437  -4.792 1.651462e-06       0.811     0.538    0.486    -5.23   8656 0.0019  0.0016
50 -0.2288*** 0.0438  -5.227 1.724690e-07       0.795     0.505    0.448    -5.70   8656 0.0023  0.0020
60 -0.1816*** 0.0440  -4.130 3.630841e-05       0.834     0.469    0.424    -4.49   8656 0.0014  0.0011

# ì¤‘ë¦½ ì œê±°

In [6]:
from hypothesis_test import (
    print_sample_summary,
    logistic_hit_delta,
    logistic_hit_postCAR,
    run_logistic_table
)

# === ì „ì²´ íŒŒì´í”„ë¼ì¸ ===

df = df_total.copy()
df["label_sign"] = df["label"]
df_nn = print_sample_summary(df, "label_sign")

# Î”CAR ê¸°ì¤€ (pre/post window ì°¨ì´ ì‚¬ìš©)
windows = [10, 20, 30, 40, 50, 60]
results_delta = run_logistic_table(
    logistic_hit_delta, df_nn, windows, label="Î”CAR", include_r2=False
)

# post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ ì‚¬ìš©)
results_post = run_logistic_table(
    logistic_hit_postCAR, df_nn, windows, label="post CAR", include_r2=False
)

=== Sample summary (neutral removed) ===
Total events:        8,656
Removed neutrals:    2,980
Used (non-neutral):  5,676
  - Positive (1):    4,906
  - Negative (-1):   770


--- Î”CAR ê¸°ì¤€ ê²°ê³¼ ---
 t beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs
10    0.0659 0.0570   1.156 0.247844       1.068     0.667    0.682     1.45   5676
20    0.0413 0.0548   0.754 0.450787       1.042     0.608    0.618     0.98   5676
30    0.0206 0.0538   0.382 0.702157       1.021     0.561    0.566     0.51   5676
40    0.0011 0.0535   0.021 0.982943       1.001     0.527    0.527     0.03   5676
50    0.0556 0.0534   1.040 0.298176       1.057     0.468    0.482     1.39   5676
60   -0.0021 0.0539  -0.040 0.968289       0.998     0.430    0.429    -0.05   5676

--- post CAR ê¸°ì¤€ ê²°ê³¼ ---
 t beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs
10   -0.0130 0.0540  -0.241 0.809622       0.987     0.429    0.425    -0.32   5676
20    0.0223 0.0545   0.410 0.681584       1.023     0.398    0.403     0.54   5676
30   -0.0536 0.0551  -0.974 0.330005       0.948     0.385    0.372    -1.26   5676
40   -0.0435 0.0551  -0.789 0.429980       0.957     0.381    0.371    -1.02   5676
50   -0.0358 0.0561  -0.638 0.523459       0.965     0.350    0.342    -0.81   5676
60    0.0087 0.0571   0.152 0.879148       1.009     0.322    0.324     0.19   5676

ì •ë³´ì˜ ì„ ë°˜ì˜(anticipation)Â·ì‚¬ì „í™•ì‚° ê°•í™”
- í…”ë ˆê·¸ë¨ ë„ì… ì´í›„, ê³µì‹œ ì§ì „ì— ê°ì„± ë°©í–¥ìœ¼ë¡œ ë¯¸ë¦¬ ì›€ì§ì´ëŠ” ë¹„ìœ¨/í¬ê¸°ê°€ ì»¤ì¡Œì„ ê°€ëŠ¥ì„±
- ê·¸ë˜ì„œ ê³µì‹œ ìˆœê°„ì˜ post CAR ë°©í–¥ ì •í•©ì€ ë†’ì•„ì§€ì§€ë§Œ(Î²_post>0), â€œì§ì „ ëŒ€ë¹„ ì¶”ê°€ë¡œ ì–¼ë§ˆë‚˜ ê°™ì€ ë°©í–¥ìœ¼ë¡œ ë” ê°€ëŠëƒâ€ë¥¼ ë³´ëŠ” Î”CAR ê¸°ì¤€ì—ì„œëŠ” ì¶”ê°€ë¶„ì´ ì¤„ì–´ **ì •í•©ì„±â†“**ë¡œ ê´€ì¸¡(Î²_Î”<0)

ê³¼ì‰ë°˜ì‘ ê°ì†Œ / ì¦‰ì‹œ ë°˜ì˜ í›„ ë¹ ë¥¸ ìˆ˜ë ´
- ë„ì… ì „ì—ëŠ” ê³µì‹œ ì§í›„ ê°™ì€ ë°©í–¥ìœ¼ë¡œ ê³¼ë„í•˜ê²Œ ë” ë°€ë˜ íŒ¨í„´ì´, ë„ì… í›„ì—ëŠ” ì´ë¯¸ ë°˜ì˜ë˜ì–´ ì¶”ê°€ ë°€ë¦¼ì´ ì¤„ì–´ë“¦ â†’ Î” ê¸°ì¤€ ì •í•©ì„± ê°ì†Œ(Î²_Î”<0).
- í•˜ì§€ë§Œ â€œì´ˆê¸° ë°©í–¥â€ ìì²´ëŠ” ë” ì •í™•í•´ì§ â†’ post ê¸°ì¤€ ì •í•©ì„± ì¦ê°€(Î²_post>0).


ë„ì… í›„ ì‹œì¥ì€ ê°ì„± ë°©í–¥ìœ¼ë¡œ â€œë¹ ë¥´ê²Œ ë§ê²Œ ì›€ì§ì´ì§€ë§Œâ€, ì§ì „ì— ì´ë¯¸ ë°˜ì˜ëœ íƒ“ì— ê³µì‹œ ìˆœê°„ì˜ â€œì¶”ê°€â€ ê°™ì€ ë°©í–¥ ë°€ë¦¼ì€ ì¤„ì–´ë“ ë‹¤. ì´ëŠ” â€œì •ë³´ì˜ ë” ë¹ ë¥¸ í™•ì‚°Â·ë°˜ì˜â€ì´ë¼ëŠ” íš¨ìœ¨ì„± ê°œì„  ìŠ¤í† ë¦¬ì™€ ì¼ê´€ë©ë‹ˆë‹¤.

In [7]:
# results_delta_w_neutral = run_logistic_table(
#     logistic_hit_delta_with_neutral, df_full, windows, label="Î”CAR (neutral incl.)", neutral_epsilon=0.45
# )


# # post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ, ì¤‘ë¦½ì€ abn_ret_{h}m ì ˆëŒ€ê°’ 0.4 ì´í•˜ hit)
# results_post_w_neutral = run_logistic_table(
#     logistic_hit_postCAR_with_neutral, df_full, windows, label="post CAR (neutral incl.)", neutral_epsilon=0.5
# )