In [1]:
import sys
import os
sys.path.append('../dags')

from database import create_database_engine


# ÌôòÍ≤Ω Î≥ÄÏàò ÏÑ§Ï†ï
os.environ["POSTGRES_USER"] = "airflow"
os.environ["POSTGRES_PASSWORD"] = "airflow"
os.environ["POSTGRES_DB"] = "events"
os.environ["POSTGRES_PORT"] = "5433"

engine = create_database_engine(host="127.0.0.1")
print("Successfully connected to the database")

Successfully connected to the database

In [2]:
import pandas as pd
from datetime import datetime


# ÎÇòÎ®∏ÏßÄÎäî Î≥ÄÏàòÎ°ú Í¥ÄÎ¶¨
label_table = "kind"
return_table = "abnormal_return_kind"
label_col = "label"

# Ìè¨Ìï®Ìï† abnormal return Ïª¨Îüº
abn_return_cols = [
    "abn_ret_minus_10m", "abn_ret_minus_20m", "abn_ret_minus_30m", 
    "abn_ret_minus_40m", "abn_ret_minus_50m", "abn_ret_minus_60m",
    "abn_ret_10m", "abn_ret_20m", "abn_ret_30m", 
    "abn_ret_40m", "abn_ret_50m", "abn_ret_60m"
]

# SQL Ïª¨Îüº Î¨∏ÏûêÏó¥ÏùÑ ÎßåÎì¨ (event_id, event_tsÎäî ÌïòÎìúÏΩîÎî©)
sql_columns = (
    [f"ar.event_ts"] +
    [f"ar.{col}" for col in abn_return_cols] +
    [f"k.{label_col}"]
)
sql_columns_str = ",\n    ".join(sql_columns)

query = f"""
SELECT {sql_columns_str}
FROM {return_table} ar
JOIN "{label_table}" k ON ar.event_id = k.id
ORDER BY ar.event_ts ASC
"""

df_before_telegram = pd.read_sql(query, engine)
df_before_telegram["period_dummy"] = 0
df_before_telegram

WARNING:  database "events" has a collation version mismatch
DETAIL:  The database was created using collation version 2.36, but the operating system provides version 2.41.
HINT:  Rebuild all objects in this database that use the default collation and run ALTER DATABASE events REFRESH COLLATION VERSION, or build PostgreSQL with the right library version.

,event_ts,abn_ret_minus_10m,abn_ret_minus_20m,abn_ret_minus_30m,abn_ret_minus_40m,abn_ret_minus_50m,abn_ret_minus_60m,abn_ret_10m,abn_ret_20m,abn_ret_30m,abn_ret_40m,abn_ret_50m,abn_ret_60m,label,period_dummy
0,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
1,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
2,2021-01-04 10:08:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,-1.91,-0.66,-1.47,-1.37,-0.60,-0.95,1,0
3,2021-01-04 10:14:00+00:00,-8.40,NaN,NaN,NaN,NaN,NaN,-4.90,-4.20,-3.46,-5.53,-5.16,-6.00,1,0
4,2021-01-04 10:16:00+00:00,0.22,1.55,1.55,1.55,NaN,NaN,0.03,-0.83,-0.54,-0.96,-0.57,-1.83,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5067,2022-06-29 14:04:00+00:00,2.30,2.19,2.24,2.43,2.88,2.47,0.55,0.43,-0.82,-0.84,-0.85,-1.63,1,0
5068,2022-06-29 14:20:00+00:00,-0.16,0.05,0.02,0.06,0.08,0.17,-0.03,0.34,0.11,0.32,0.54,0.24,1,0
5069,2022-06-29 14:21:00+00:00,0.00,0.12,0.06,-0.14,-0.51,-0.28,0.06,-0.04,-0.11,-0.32,0.03,NaN,1,0
5070,2022-06-29 14:35:00+00:00,0.14,0.27,0.27,0.19,0.18,0.06,-0.22,0.03,0.03,-0.08,NaN,NaN,1,0
5071,2022-06-29 14:46:00+00:00,0.66,0.23,0.14,0.59,0.64,0.50,0.48,-0.09,0.19,NaN,NaN,NaN,0,0

In [3]:
label_table = "label"
return_table = "abnormal_return"
label_col = "label"


all_sql_columns = (
    [f"ar.event_ts"] +
    [f"ar.{col}" for col in abn_return_cols] +
    [f"k.{label_col}"]
)
all_sql_columns_str = ",\n    ".join(all_sql_columns)

query = f"""
SELECT {all_sql_columns_str}
FROM {return_table} ar
JOIN "{label_table}" k ON ar.event_id = k.id
JOIN disclosure_events de ON ar.event_id = de.id
WHERE k.{label_col} IS NOT NULL
ORDER BY ar.event_ts ASC
"""

df_after_telegram = pd.read_sql(query, engine)
df_after_telegram["period_dummy"] = 1
label_map = {0: 1, 1: 0, 2: -1}
df_after_telegram['label'] = df_after_telegram['label'].map(label_map)
df_after_telegram

,event_ts,abn_ret_minus_10m,abn_ret_minus_20m,abn_ret_minus_30m,abn_ret_minus_40m,abn_ret_minus_50m,abn_ret_minus_60m,abn_ret_10m,abn_ret_20m,abn_ret_30m,abn_ret_40m,abn_ret_50m,abn_ret_60m,label,period_dummy
0,2022-07-01 01:03:17+00:00,-1.80,-1.61,-2.03,-2.74,-2.32,-1.18,-1.27,-2.41,-2.36,-1.79,-2.98,-1.98,1,1
1,2022-07-01 01:24:45+00:00,-1.57,-1.62,-1.91,-1.33,-2.52,-1.48,0.53,2.43,1.19,1.57,1.38,1.72,1,1
2,2022-07-01 01:27:02+00:00,-0.05,0.39,0.10,-1.01,-0.14,-0.14,0.29,0.24,1.25,1.39,2.02,1.63,1,1
3,2022-07-01 01:43:15+00:00,-0.89,-0.92,-0.82,-0.81,-0.59,0.16,0.08,0.36,0.31,0.12,-0.18,0.23,1,1
4,2022-07-01 02:30:09+00:00,-1.91,-0.73,0.47,0.44,0.08,1.81,-0.40,-1.02,-1.80,-1.24,-1.82,-1.60,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8076,2023-12-28 05:53:08+00:00,-0.08,0.80,0.02,0.26,0.25,0.86,0.24,0.24,NaN,NaN,NaN,NaN,1,1
8077,2023-12-28 05:55:03+00:00,-0.31,0.84,0.80,1.16,0.76,0.93,-2.10,-3.25,NaN,NaN,NaN,NaN,0,1
8078,2023-12-28 05:56:27+00:00,0.05,0.08,-0.02,-0.16,-0.06,0.12,-0.28,-0.54,NaN,NaN,NaN,NaN,1,1
8079,2023-12-28 05:56:32+00:00,0.05,0.08,-0.02,-0.16,-0.06,0.12,-0.28,-0.54,NaN,NaN,NaN,NaN,1,1
8080,2023-12-28 06:10:49+00:00,-0.52,-0.61,0.04,-0.47,-0.38,-0.54,-0.75,NaN,NaN,NaN,NaN,NaN,-1,1

In [4]:
df_total = pd.concat([df_before_telegram, df_after_telegram])

In [5]:
df_total

,event_ts,abn_ret_minus_10m,abn_ret_minus_20m,abn_ret_minus_30m,abn_ret_minus_40m,abn_ret_minus_50m,abn_ret_minus_60m,abn_ret_10m,abn_ret_20m,abn_ret_30m,abn_ret_40m,abn_ret_50m,abn_ret_60m,label,period_dummy
0,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
1,2021-01-04 10:08:00+00:00,-2.14,-2.14,-2.14,NaN,NaN,NaN,-0.45,0.17,0.05,0.15,-0.15,0.18,0,0
2,2021-01-04 10:08:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,-1.91,-0.66,-1.47,-1.37,-0.60,-0.95,1,0
3,2021-01-04 10:14:00+00:00,-8.40,NaN,NaN,NaN,NaN,NaN,-4.90,-4.20,-3.46,-5.53,-5.16,-6.00,1,0
4,2021-01-04 10:16:00+00:00,0.22,1.55,1.55,1.55,NaN,NaN,0.03,-0.83,-0.54,-0.96,-0.57,-1.83,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8076,2023-12-28 05:53:08+00:00,-0.08,0.80,0.02,0.26,0.25,0.86,0.24,0.24,NaN,NaN,NaN,NaN,1,1
8077,2023-12-28 05:55:03+00:00,-0.31,0.84,0.80,1.16,0.76,0.93,-2.10,-3.25,NaN,NaN,NaN,NaN,0,1
8078,2023-12-28 05:56:27+00:00,0.05,0.08,-0.02,-0.16,-0.06,0.12,-0.28,-0.54,NaN,NaN,NaN,NaN,1,1
8079,2023-12-28 05:56:32+00:00,0.05,0.08,-0.02,-0.16,-0.06,0.12,-0.28,-0.54,NaN,NaN,NaN,NaN,1,1
8080,2023-12-28 06:10:49+00:00,-0.52,-0.61,0.04,-0.47,-0.38,-0.54,-0.75,NaN,NaN,NaN,NaN,NaN,-1,1

# ÌöåÍ∑ÄÎ∂ÑÏÑù

### üìò Î™®ÌòïÏãù

$$
\left| CAR_{post,i} - CAR_{pre,i} \right| = \alpha + \beta \cdot Telegram_i + \epsilon_i
$$

---

### üìä Î≥ÄÏàò ÏÑ§Î™Ö

**Ï¢ÖÏÜçÎ≥ÄÏàò (Dependent Variable)**  
Ïù¥Î≤§Ìä∏ Ï†ÑÌõÑ CAR Î≥ÄÌôîÌè≠Ïùò Ï†àÎåìÍ∞í:

$$
\left| CAR_{post,i} - CAR_{pre,i} \right|
$$


**ÏÑ§Î™ÖÎ≥ÄÏàò (Key Independent Variable)**  
ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïó¨Î∂Ä Î≥ÄÏàò:

$$
Telegram_i =
\begin{cases}
1, & \text{ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïù¥ÌõÑ (After introduction)} \\
0, & \text{ÎèÑÏûÖ Ïù¥Ï†Ñ (Before introduction)}
\end{cases}
$$

---

### üìë Í∞ÄÏÑ§ ÏÑ§Ï†ï

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïù¥ÌõÑÏôÄ Ïù¥Ï†Ñ Í∞Ñ CAR Î≥ÄÌôîÌè≠Ïùò Ï∞®Ïù¥Í∞Ä ÏóÜÎã§.}) \\
H_1 &: \beta < 0 \quad &(\text{ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïù¥ÌõÑ CAR Î≥ÄÌôîÌè≠Ïù¥ Í∞êÏÜåÌñàÎã§.})
\end{aligned}
$$
---

### üìà Ìï¥ÏÑù

Ïù¥ ÌöåÍ∑ÄÎ™®ÌòïÏùÄ **ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïó¨Î∂Ä**Í∞Ä Ïù¥Î≤§Ìä∏ Ï†ÑÌõÑ ÎàÑÏ†ÅÏ¥àÍ≥ºÏàòÏùµÎ•†(CAR) Î≥ÄÌôîÌè≠Ïùò ÌÅ¨Í∏∞Ïóê ÎØ∏ÏπòÎäî ÏòÅÌñ•ÏùÑ Î∂ÑÏÑùÌïòÍ∏∞ ÏúÑÌïú Í≤ÉÏûÖÎãàÎã§.  
Œ≤ < 0 Ïù¥Í≥† ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÎã§Î©¥ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Í∏∞Í∞ÅÎêòÏñ¥ Í≥µÏãú Ï†ïÎ≥¥Í∞Ä ÎèÑÏûÖ Ïù¥ÌõÑ ÏãúÏû•Ïóê Î≥¥Îã§ Ïã†ÏÜçÌïòÍ≤å Î∞òÏòÅÎêòÏñ¥ Ï†ïÎ≥¥ ÎπÑÌö®Ïú®ÏÑ±Ïù¥ Í∞êÏÜåÌñàÏùåÏùÑ ÏãúÏÇ¨ÌïòÎ©∞, ÌÖîÎ†àÍ∑∏Îû® Í≥µÏãú ÏïåÎ¶º ÏÑúÎπÑÏä§Í∞Ä ÏãúÏû• Ìö®Ïú®ÏÑ± Ìñ•ÏÉÅÏóê Ïã§ÏßàÏ†ÅÏúºÎ°ú Í∏∞Ïó¨ÌñàÏùåÏùÑ Î≥¥Ïó¨Ï§çÎãàÎã§.

In [6]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# df_totalÏù¥ Ïù¥ÎØ∏ Ï°¥Ïû¨ÌïúÎã§Í≥† Í∞ÄÏ†ï
horizons = [10, 20, 30, 40, 50, 60]
rows = []

for h in horizons:
    post_col = f"abn_ret_{h}m"
    pre_col  = f"abn_ret_minus_{h}m"
    if post_col not in df_total.columns or pre_col not in df_total.columns:
        raise KeyError(f"'{post_col}' ÎòêÎäî '{pre_col}' Ïª¨ÎüºÏùÑ Ï∞æÏùÑ Ïàò ÏóÜÏäµÎãàÎã§.")

    y = (df_total[post_col] - df_total[pre_col]).abs()
    X = sm.add_constant(df_total["period_dummy"], has_constant="add")

    valid = ~(y.isna() | X.isna().any(axis=1))
    y_ = y[valid]
    X_ = X[valid]

    model = sm.OLS(y_, X_).fit(cov_type="HC1")

    beta = model.params.get("period_dummy", np.nan)
    se   = model.bse.get("period_dummy", np.nan)
    tval = model.tvalues.get("period_dummy", np.nan)
    pval = model.pvalues.get("period_dummy", np.nan)

    rows.append({
        "horizon_min": h,
        "beta": beta,
        "std_err": se,
        "t_value": tval,
        "p_value": pval,
        "sig_0.05": "*" if (not pd.isna(pval) and pval < 0.05) else "",
        "n_obs": int(model.nobs),
        "r_squared": model.rsquared
    })

result_table = pd.DataFrame(rows).sort_values("horizon_min").reset_index(drop=True)

# ‚úÖ p-value Ìè¨Îß∑ Ï°∞Ï†ï (ÏßÄÏàòÌëúÍ∏∞ ÏóÜÏù¥ ÏÜåÏàòÏ†ê 8ÏûêÎ¶¨, 0ÏùÄ "<1e-8"Î°ú ÌëúÏãú)
result_table["p_value"] = result_table["p_value"].apply(
    lambda x: f"{x:.12f}" if (x > 0 and not pd.isna(x)) else "<1e-8"
)

# Î≥¥Í∏∞ Ï¢ãÍ≤å Ï∂úÎ†•
display_cols = ["horizon_min", "beta", "std_err", "t_value", "p_value", "sig_0.05", "n_obs", "r_squared"]
print(result_table[display_cols].to_string(index=False))

 horizon_min      beta  std_err   t_value        p_value sig_0.05  n_obs  r_squared
          10 -0.284615 0.033934 -8.387221 0.000000000000        *  12329   0.005971
          20 -0.278708 0.038763 -7.190126 0.000000000001        *  11454   0.004773
          30 -0.268489 0.043548 -6.165326 0.000000000703        *  10596   0.003830
          40 -0.444945 0.057169 -7.782917 0.000000000000        *   9728   0.006982
          50 -0.396699 0.058895 -6.735650 0.000000000016        *   8895   0.005539
          60 -0.371746 0.063477 -5.856352 0.000000004731        *   8069   0.004634

# Î∞©Ìñ• Ï†ïÌï©ÏÑ±

### üìò Î™®ÌòïÏãù Ï†ïÏùò

$$
\text{logit}^{-1}(x) = \frac{1}{1 + e^{-x}}
$$

$$
Pr(hit_{i,t} = 1) = \text{logit}^{-1}(\alpha + \beta \cdot period\_dummy_i)
$$
---

### üìä Î≥ÄÏàò ÏÑ§Î™Ö


Ïù¥Î≤§Ìä∏ *i*, Ï∞Ω *t* Ïóê ÎåÄÌï¥ Delta CAR, post CAR 2Í∞úÏùò ÏßÄÌëúÎ•º ÏÇ¨Ïö©

$$
t \in \{10,\,20,\,\dots,\,60\}
$$

$$
\Delta CAR_{i,t} = CAR_{post,i,t} - CAR_{pre,i,t}  
$$

$$
CAR_{post,i,t}
$$

$$
label\_sign_i =
\begin{cases}
+1, & \text{Í∏çÏ†ï (1)} \\
0, & \text{Ï§ëÎ¶Ω (0)} \\
-1, & \text{Î∂ÄÏ†ï (-1)} 
\end{cases}
$$



$$
hit_{i,t} =
\begin{cases}
1, & \text{if } \operatorname{sign}(\Delta CAR_{i,t}) = label\_sign_i \\
0, & \text{otherwise}
\end{cases}
$$

---

### üìë Í∞ÄÏÑ§ ÏÑ§Ï†ï

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{ÎèÑÏûÖ Ï†ÑÌõÑ Ï∞®Ïù¥ ÏóÜÏùå}) \\
H_1 &: \beta > 0 \quad &(\text{ÎèÑÏûÖ ÌõÑ Ï†ïÌï©Î•† ÏÉÅÏäπ})
\end{aligned}
$$

---

### üìà Ìï¥ÏÑù

- delta CAR: Œ≤ > 0 Ïù¥Í≥† **ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†Ïùò**ÌïòÎã§Î©¥  ‚Üí ‚ÄúÌÖîÎ†àÍ∑∏Îû® ÏÑúÎπÑÏä§ Ï∂úÏãú Ïù¥ÌõÑ Í≥ºÏûâÎ∞òÏùë Í∞êÏÜå / Ï¶âÏãú Î∞òÏòÅ ÌõÑ Îπ†Î•∏ ÏàòÎ†¥ ‚Üí Ï†ïÎ≥¥Ïùò ÏÑ†Î∞òÏòÅ Î∞è ÏÇ¨Ï†Ñ ÌôïÏÇ∞Ïù¥ Í∞ïÌôî ‚Üí Ï†ïÎ≥¥ Ìö®Ïú®ÏÑ± Ìñ•ÏÉÅ‚ÄùÏùÑ ÏùòÎØ∏ÌïúÎã§Í≥† Î≥º Ïàò ÏûàÎã§.
- Post CAR: Œ≤ > 0 Ïù¥Í≥† **ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†Ïùò**ÌïòÎã§Î©¥  ‚Üí ‚ÄúÌÖîÎ†àÍ∑∏Îû® ÏÑúÎπÑÏä§ Ï∂úÏãú Ïù¥ÌõÑ Ïù¥Î≤§Ìä∏ Î∞úÌëú Ïù¥ÌõÑÏùò Ï†ïÌï©Î•†(Ï†ïÌôïÎèÑ) Ï¶ùÍ∞Ä ‚Üí ÏãúÏû• Î∞òÏùëÏùò Ï¶âÏãú Î∞òÏòÅ Í∞ïÌôî ‚Üí Ï†ïÎ≥¥ Ìö®Ïú®ÏÑ± Ìñ•ÏÉÅ‚ÄùÏùÑ ÏùòÎØ∏ÌïúÎã§Í≥† Ìï¥ÏÑùÌï† Ïàò ÏûàÎã§.

In [10]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

def print_sample_summary(df, label_col="label_sign"):
    """
    Ï§ëÎ¶Ω Ïù¥Î≤§Ìä∏ Ï†úÍ±∞ ÌõÑ ÏÉòÌîå ÏöîÏïΩ ÌÜµÍ≥Ñ Ï∂úÎ†•
    """
    n_total = len(df)
    n_neutral = (df[label_col] == 0).sum()
    df_nn = df[df[label_col] != 0]
    n_used = len(df_nn)
    pos_cnt = (df_nn[label_col] == 1).sum()
    neg_cnt = (df_nn[label_col] == -1).sum()
    
    print("=== Sample summary (neutral removed) ===")
    print(f"Total events:        {n_total:,}")
    print(f"Removed neutrals:    {n_neutral:,}")
    print(f"Used (non-neutral):  {n_used:,}")
    print(f"  - Positive (1):    {pos_cnt:,}")
    print(f"  - Negative (-1):   {neg_cnt:,}")
    print()
    return df_nn

def logistic_hit_delta(df_subset, t):
    """
    ŒîCAR Í∏∞Ï§Ä: ŒîCAR_{i,t} = CAR_{post,i,t} - CAR_{pre,i,t}
    hit_{i,t} = 1 if sign(ŒîCAR_{i,t}) == label_sign_i else 0
    logistic regression on period_dummy
    """
    delta = df_subset[f"abn_ret_{t}m"] - df_subset[f"abn_ret_minus_{t}m"]
    realized_sign = np.sign(delta)
    hit = (realized_sign == df_subset["label_sign"]).astype(int)
    X = sm.add_constant(df_subset["period_dummy"])
    model = sm.Logit(hit, X).fit(disp=0)
    beta = float(model.params["period_dummy"])
    pval = float(model.pvalues["period_dummy"])
    odds_ratio = float(np.exp(beta))
    X0 = X.copy(); X0["period_dummy"] = 0
    X1 = X.copy(); X1["period_dummy"] = 1
    p0 = float(model.predict(X0).mean())
    p1 = float(model.predict(X1).mean())
    diff_pp = (p1 - p0) * 100.0
    return {
        "window": t,
        "beta": beta,
        "p_value": pval,
        "odds_ratio": odds_ratio,
        "p_before": p0,
        "p_after": p1,
        "diff_pp": diff_pp,
        "n_obs": int(model.nobs)
    }

def logistic_hit_postCAR(df_subset, h):
    """
    post CAR Í∏∞Ï§Ä: 0‚Üí+h ÎàÑÏ†ÅÏ¥àÍ≥ºÏàòÏùµÏùò Î∂ÄÌò∏ Î∂ÄÌï© Ïó¨Î∂Ä
    hit = 1 if sign(abn_ret_{h}m) == label_sign_i else 0
    logistic regression on period_dummy
    """
    realized_sign = np.sign(df_subset[f"abn_ret_{h}m"])
    hit = (realized_sign == df_subset["label_sign"]).astype(int)
    X = sm.add_constant(df_subset["period_dummy"])
    model = sm.Logit(hit, X).fit(disp=0)
    beta = float(model.params["period_dummy"])
    pval = float(model.pvalues["period_dummy"])
    odds_ratio = float(np.exp(beta))
    X0 = X.copy(); X0["period_dummy"] = 0
    X1 = X.copy(); X1["period_dummy"] = 1
    p0 = float(model.predict(X0).mean())
    p1 = float(model.predict(X1).mean())
    diff_pp = (p1 - p0) * 100.0
    return {
        "window": h,
        "beta": beta,
        "p_value": pval,
        "odds_ratio": odds_ratio,
        "p_before": p0,
        "p_after": p1,
        "diff_pp": diff_pp,
        "n_obs": int(model.nobs)
    }

def run_logistic_table(logistic_fn, df_nn, windows, label="ŒîCAR"):
    """
    Ï∞Ω(t)Î≥Ñ Î°úÏßÄÏä§Ìã± ÌöåÍ∑Ä ÏàòÌñâ Î∞è ÏöîÏïΩ ÌÖåÏù¥Î∏î Î¶¨ÌÑ¥
    """
    results = []
    for w in windows:
        results.append(logistic_fn(df_nn, w))
    results_df = pd.DataFrame(results)
    results_df["sig_0.05"] = np.where(results_df["p_value"] < 0.05, "*", "")
    print(f"\n--- {label} Í∏∞Ï§Ä Í≤∞Í≥º ---")
    print(
        results_df[
            ["window", "beta", "p_value", "sig_0.05", "odds_ratio", "p_before", "p_after", "diff_pp", "n_obs"]
        ]
        .rename(columns={"window": "t"})
        .round({
            "beta": 4, "p_value": 12, "odds_ratio": 3, "p_before": 3, "p_after": 3, "diff_pp": 2
        })
        .to_string(index=False)
    )
    return results_df

# === Ï†ÑÏ≤¥ ÌååÏù¥ÌîÑÎùºÏù∏ ===

df = df_total.copy()
df["label_sign"] = df["label"]
df_nn = print_sample_summary(df, "label_sign")

# ŒîCAR Í∏∞Ï§Ä (pre/post window Ï∞®Ïù¥ ÏÇ¨Ïö©)
windows = [10, 20, 30, 40, 50, 60]
results_delta = run_logistic_table(logistic_hit_delta, df_nn, windows, label="ŒîCAR")

# post CAR Í∏∞Ï§Ä (Í≥µÏãú Ïù¥ÌõÑÎßå ÏÇ¨Ïö©, Í∏∞Ï°¥ ÏΩîÎìú - file_context_0)
results_post = run_logistic_table(logistic_hit_postCAR, df_nn, windows, label="post CAR")

=== Sample summary (neutral removed) ===
Total events:        13,153
Removed neutrals:    3,690
Used (non-neutral):  9,463
  - Positive (1):    6,995
  - Negative (-1):   2,468


--- ŒîCAR Í∏∞Ï§Ä Í≤∞Í≥º ---
 t    beta      p_value sig_0.05  odds_ratio  p_before  p_after  diff_pp  n_obs
10 -0.3571 0.000000e+00        *       0.700     0.667    0.584    -8.34   9463
20 -0.3164 1.000000e-12        *       0.729     0.608    0.531    -7.74   9463
30 -0.3387 0.000000e+00        *       0.713     0.561    0.476    -8.43   9463
40 -0.3724 0.000000e+00        *       0.689     0.527    0.434    -9.27   9463
50 -0.3166 1.000000e-12        *       0.729     0.468    0.391    -7.74   9463
60 -0.3276 0.000000e+00        *       0.721     0.430    0.352    -7.78   9463

--- post CAR Í∏∞Ï§Ä Í≤∞Í≥º ---
 t   beta  p_value sig_0.05  odds_ratio  p_before  p_after  diff_pp  n_obs
10 0.1994 0.000006        *       1.221     0.429    0.478     4.94   9463
20 0.2077 0.000003        *       1.231     0.398    0.448     5.06   9463
30 0.1462 0.001071        *       1.157     0.385    0.420     3.51   9463
40 0.0813 0.069693                1.085     0.381    0.401     1.94   9463
50 0.0699 0.125938                1.072     0.350    0.366     1.61   9463
60 0.0992 0.032890        *       1.104     0.322    0.344     2.20   9463

Ï†ïÎ≥¥Ïùò ÏÑ†Î∞òÏòÅ(anticipation)¬∑ÏÇ¨Ï†ÑÌôïÏÇ∞ Í∞ïÌôî
- ÌÖîÎ†àÍ∑∏Îû® ÎèÑÏûÖ Ïù¥ÌõÑ, Í≥µÏãú ÏßÅÏ†ÑÏóê Í∞êÏÑ± Î∞©Ìñ•ÏúºÎ°ú ÎØ∏Î¶¨ ÏõÄÏßÅÏù¥Îäî ÎπÑÏú®/ÌÅ¨Í∏∞Í∞Ä Ïª§Ï°åÏùÑ Í∞ÄÎä•ÏÑ±
- Í∑∏ÎûòÏÑú Í≥µÏãú ÏàúÍ∞ÑÏùò post CAR Î∞©Ìñ• Ï†ïÌï©ÏùÄ ÎÜíÏïÑÏßÄÏßÄÎßå(Œ≤_post>0), ‚ÄúÏßÅÏ†Ñ ÎåÄÎπÑ Ï∂îÍ∞ÄÎ°ú ÏñºÎßàÎÇò Í∞ôÏùÄ Î∞©Ìñ•ÏúºÎ°ú Îçî Í∞ÄÎäêÎÉê‚ÄùÎ•º Î≥¥Îäî ŒîCAR Í∏∞Ï§ÄÏóêÏÑúÎäî Ï∂îÍ∞ÄÎ∂ÑÏù¥ Ï§ÑÏñ¥ **Ï†ïÌï©ÏÑ±‚Üì**Î°ú Í¥ÄÏ∏°(Œ≤_Œî<0)

Í≥ºÏûâÎ∞òÏùë Í∞êÏÜå / Ï¶âÏãú Î∞òÏòÅ ÌõÑ Îπ†Î•∏ ÏàòÎ†¥
- ÎèÑÏûÖ Ï†ÑÏóêÎäî Í≥µÏãú ÏßÅÌõÑ Í∞ôÏùÄ Î∞©Ìñ•ÏúºÎ°ú Í≥ºÎèÑÌïòÍ≤å Îçî Î∞ÄÎçò Ìå®ÌÑ¥Ïù¥, ÎèÑÏûÖ ÌõÑÏóêÎäî Ïù¥ÎØ∏ Î∞òÏòÅÎêòÏñ¥ Ï∂îÍ∞Ä Î∞ÄÎ¶ºÏù¥ Ï§ÑÏñ¥Îì¶ ‚Üí Œî Í∏∞Ï§Ä Ï†ïÌï©ÏÑ± Í∞êÏÜå(Œ≤_Œî<0).
- ÌïòÏßÄÎßå ‚ÄúÏ¥àÍ∏∞ Î∞©Ìñ•‚Äù ÏûêÏ≤¥Îäî Îçî Ï†ïÌôïÌï¥Ïßê ‚Üí post Í∏∞Ï§Ä Ï†ïÌï©ÏÑ± Ï¶ùÍ∞Ä(Œ≤_post>0).


ÎèÑÏûÖ ÌõÑ ÏãúÏû•ÏùÄ Í∞êÏÑ± Î∞©Ìñ•ÏúºÎ°ú ‚ÄúÎπ†Î•¥Í≤å ÎßûÍ≤å ÏõÄÏßÅÏù¥ÏßÄÎßå‚Äù, ÏßÅÏ†ÑÏóê Ïù¥ÎØ∏ Î∞òÏòÅÎêú ÌÉìÏóê Í≥µÏãú ÏàúÍ∞ÑÏùò ‚ÄúÏ∂îÍ∞Ä‚Äù Í∞ôÏùÄ Î∞©Ìñ• Î∞ÄÎ¶ºÏùÄ Ï§ÑÏñ¥Îì†Îã§. Ïù¥Îäî ‚ÄúÏ†ïÎ≥¥Ïùò Îçî Îπ†Î•∏ ÌôïÏÇ∞¬∑Î∞òÏòÅ‚ÄùÏù¥ÎùºÎäî Ìö®Ïú®ÏÑ± Í∞úÏÑ† Ïä§ÌÜ†Î¶¨ÏôÄ ÏùºÍ¥ÄÎê©ÎãàÎã§.