In [1]:
import sys
import os
sys.path.append('../dags')

from database import create_database_engine


# í™˜ê²½ ë³€ìˆ˜ ì„¤ì •
os.environ["POSTGRES_USER"] = "airflow"
os.environ["POSTGRES_PASSWORD"] = "airflow"
os.environ["POSTGRES_DB"] = "events"
os.environ["POSTGRES_PORT"] = "5433"

engine = create_database_engine(host="127.0.0.1")
print("Successfully connected to the database")

Successfully connected to the database

In [2]:
import pandas as pd
from datetime import datetime


# ë‚˜ë¨¸ì§€ëŠ” ë³€ìˆ˜ë¡œ ê´€ë¦¬
label_table = "kind"
return_table = "abnormal_return_kind"
label_col = "label"

# í¬í•¨í•  abnormal return ì»¬ëŸ¼
abn_return_cols = [
    "abn_ret_minus_10m", "abn_ret_minus_9m", "abn_ret_minus_8m", "abn_ret_minus_7m", "abn_ret_minus_6m",
    "abn_ret_minus_5m", "abn_ret_minus_4m", "abn_ret_minus_3m", "abn_ret_minus_2m", "abn_ret_minus_1m",
    "abn_ret_1m", "abn_ret_2m", "abn_ret_3m", "abn_ret_4m", "abn_ret_5m", "abn_ret_6m",
    "abn_ret_7m", "abn_ret_8m", "abn_ret_9m", "abn_ret_10m"
]

# SQL ì»¬ëŸ¼ ë¬¸ìì—´ì„ ë§Œë“¬ (event_id, event_tsëŠ” í•˜ë“œì½”ë”©)
sql_columns = (
    [f"ar.event_ts"] +
    [f"ar.{col}" for col in abn_return_cols] +
    [f"k.{label_col}"]
)
sql_columns_str = ",\n    ".join(sql_columns)

query = f"""
SELECT {sql_columns_str}
FROM {return_table} ar
JOIN "{label_table}" k ON ar.event_id = k.id
ORDER BY ar.event_ts ASC
"""

df_total = pd.read_sql(query, engine)
df_total["period_dummy"] = (
    pd.to_datetime(df_total["event_ts"], utc=True) > pd.Timestamp("2022-06-30", tz="UTC")
).astype(int)
df_total

WARNING:  database "events" has a collation version mismatch
DETAIL:  The database was created using collation version 2.36, but the operating system provides version 2.41.
HINT:  Rebuild all objects in this database that use the default collation and run ALTER DATABASE events REFRESH COLLATION VERSION, or build PostgreSQL with the right library version.

,event_ts,abn_ret_minus_10m,abn_ret_minus_9m,abn_ret_minus_8m,abn_ret_minus_7m,abn_ret_minus_6m,abn_ret_minus_5m,abn_ret_minus_4m,abn_ret_minus_3m,abn_ret_minus_2m,...,abn_ret_3m,abn_ret_4m,abn_ret_5m,abn_ret_6m,abn_ret_7m,abn_ret_8m,abn_ret_9m,abn_ret_10m,label,period_dummy
0,2021-01-04 10:08:00+00:00,-2.14,-2.14,-1.20,-1.32,-1.93,-2.38,-2.05,-2.45,-1.76,...,-0.18,0.19,-0.20,-0.23,-0.24,-0.67,-0.34,-0.45,0,0
1,2021-01-04 10:08:00+00:00,NaN,NaN,-1.45,-1.64,-1.44,-2.24,-2.49,-2.69,-1.96,...,-2.66,-2.49,-2.27,-1.24,-1.62,-1.37,-1.04,-1.91,1,0
2,2021-01-04 10:08:00+00:00,-2.14,-2.14,-1.20,-1.32,-1.93,-2.38,-2.05,-2.45,-1.76,...,-0.18,0.19,-0.20,-0.23,-0.24,-0.67,-0.34,-0.45,0,0
3,2021-01-04 10:14:00+00:00,-8.40,-8.59,-8.32,-8.32,-8.19,-8.65,-8.42,-8.36,-8.10,...,-2.60,-4.00,-3.64,-3.51,-3.64,-4.17,-4.70,-4.90,1,0
4,2021-01-04 10:16:00+00:00,0.22,0.50,0.23,0.21,0.23,0.23,0.15,0.01,-0.31,...,0.25,0.19,0.06,-0.24,-0.06,-0.24,-0.50,0.03,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8651,2023-12-28 14:46:00+00:00,-1.82,-1.94,-1.85,-1.85,-1.85,-1.82,-1.82,-1.94,-1.98,...,9.00,13.65,7.01,7.60,7.93,7.26,7.78,7.36,1,1
8652,2023-12-28 14:53:00+00:00,-0.08,0.64,0.68,0.62,-0.01,0.02,0.00,0.00,-0.01,...,0.24,0.29,0.21,0.21,0.23,0.27,0.27,0.24,1,1
8653,2023-12-28 14:56:00+00:00,0.21,0.41,0.59,0.58,0.58,0.56,0.52,0.45,0.45,...,0.42,0.44,0.48,0.48,0.45,0.45,0.42,0.42,0,1
8654,2023-12-28 14:56:00+00:00,0.21,0.41,0.59,0.58,0.58,0.56,0.52,0.45,0.45,...,0.42,0.44,0.48,0.48,0.45,0.45,0.42,0.42,0,1
8655,2023-12-28 15:10:00+00:00,0.11,0.15,0.15,0.12,0.02,0.10,0.10,0.02,0.06,...,0.00,-0.03,-0.20,-0.32,-0.34,-0.41,-0.49,-0.49,-1,1

In [3]:
df_total[df_total["period_dummy"] == 1].head()

,event_ts,abn_ret_minus_10m,abn_ret_minus_9m,abn_ret_minus_8m,abn_ret_minus_7m,abn_ret_minus_6m,abn_ret_minus_5m,abn_ret_minus_4m,abn_ret_minus_3m,abn_ret_minus_2m,...,abn_ret_3m,abn_ret_4m,abn_ret_5m,abn_ret_6m,abn_ret_7m,abn_ret_8m,abn_ret_9m,abn_ret_10m,label,period_dummy
5072,2022-07-01 10:03:00+00:00,-1.80,-0.66,0.14,0.19,-0.19,-0.19,0.28,-0.14,-0.14,...,0.33,0.10,0.00,-0.28,-0.66,-0.33,-0.80,-1.27,1,1
5073,2022-07-01 10:24:00+00:00,-1.57,-1.43,-1.43,-1.43,-1.28,-1.23,-1.19,-1.66,-1.66,...,0.62,0.67,0.86,0.48,0.10,0.48,0.10,0.53,1,1
5074,2022-07-01 10:26:00+00:00,0.10,-0.05,0.10,0.00,0.05,-0.14,-0.14,-0.14,-0.05,...,0.38,0.14,0.05,-0.14,-0.24,-0.24,-0.14,0.14,0,1
5075,2022-07-01 10:43:00+00:00,-0.89,-0.99,-1.11,-1.13,-1.03,-1.13,-1.18,-1.26,-1.34,...,-0.03,0.19,-0.20,0.74,0.09,0.75,-0.04,0.08,0,1
5076,2022-07-01 11:03:00+00:00,-0.21,-0.30,-0.35,-0.28,-0.04,-0.04,-0.14,0.04,-0.06,...,0.04,0.00,-0.08,-0.02,-0.11,-0.26,-0.16,-0.23,1,1

# íšŒê·€ë¶„ì„

### ğŸ“˜ ëª¨í˜•ì‹

$$
\left| CAR_{post,i} - CAR_{pre,i} \right| = \alpha + \beta \cdot Telegram_i + \epsilon_i
$$

---

### ğŸ“Š ë³€ìˆ˜ ì„¤ëª…

**ì¢…ì†ë³€ìˆ˜ (Dependent Variable)**  
ì´ë²¤íŠ¸ ì „í›„ CAR ë³€í™”í­ì˜ ì ˆëŒ“ê°’:

$$
\left| CAR_{post,i} - CAR_{pre,i} \right|
$$


**ì„¤ëª…ë³€ìˆ˜ (Key Independent Variable)**  
í…”ë ˆê·¸ë¨ ë„ì… ì—¬ë¶€ ë³€ìˆ˜:

$$
Telegram_i =
\begin{cases}
1, & \text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ (After introduction)} \\
0, & \text{ë„ì… ì´ì „ (Before introduction)}
\end{cases}
$$

---

### ğŸ“‘ ê°€ì„¤ ì„¤ì •

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ì™€ ì´ì „ ê°„ CAR ë³€í™”í­ì˜ ì°¨ì´ê°€ ì—†ë‹¤.}) \\
H_1 &: \beta < 0 \quad &(\text{í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ CAR ë³€í™”í­ì´ ê°ì†Œí–ˆë‹¤.})
\end{aligned}
$$
---

### ğŸ“ˆ í•´ì„

ì´ íšŒê·€ëª¨í˜•ì€ **í…”ë ˆê·¸ë¨ ë„ì… ì—¬ë¶€**ê°€ ì´ë²¤íŠ¸ ì „í›„ ëˆ„ì ì´ˆê³¼ìˆ˜ìµë¥ (CAR) ë³€í™”í­ì˜ í¬ê¸°ì— ë¯¸ì¹˜ëŠ” ì˜í–¥ì„ ë¶„ì„í•˜ê¸° ìœ„í•œ ê²ƒì…ë‹ˆë‹¤.  
Î² < 0 ì´ê³  í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤ë©´ ê·€ë¬´ê°€ì„¤ì´ ê¸°ê°ë˜ì–´ ê³µì‹œ ì •ë³´ê°€ ë„ì… ì´í›„ ì‹œì¥ì— ë³´ë‹¤ ì‹ ì†í•˜ê²Œ ë°˜ì˜ë˜ì–´ ì •ë³´ ë¹„íš¨ìœ¨ì„±ì´ ê°ì†Œí–ˆìŒì„ ì‹œì‚¬í•˜ë©°, í…”ë ˆê·¸ë¨ ê³µì‹œ ì•Œë¦¼ ì„œë¹„ìŠ¤ê°€ ì‹œì¥ íš¨ìœ¨ì„± í–¥ìƒì— ì‹¤ì§ˆì ìœ¼ë¡œ ê¸°ì—¬í–ˆìŒì„ ë³´ì—¬ì¤ë‹ˆë‹¤.

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

# df_totalì´ ì´ë¯¸ ì¡´ì¬í•œë‹¤ê³  ê°€ì •
horizons = list[int](range(1, 11))
rows = []

for h in horizons:
    post_col = f"abn_ret_{h}m"
    pre_col  = f"abn_ret_minus_{h}m"
    if post_col not in df_total.columns or pre_col not in df_total.columns:
        raise KeyError(f"'{post_col}' ë˜ëŠ” '{pre_col}' ì»¬ëŸ¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")

    y = (df_total[post_col] - df_total[pre_col]).abs()
    X = sm.add_constant(df_total["period_dummy"], has_constant="add")

    valid = ~(y.isna() | X.isna().any(axis=1))
    y_ = y[valid]
    X_ = X[valid]

    model = sm.OLS(y_, X_).fit(cov_type="HC1")

    beta = model.params.get("period_dummy", np.nan)
    se   = model.bse.get("period_dummy", np.nan)
    tval = model.tvalues.get("period_dummy", np.nan)
    pval = model.pvalues.get("period_dummy", np.nan)

    rows.append({
        "horizon_min": h,
        "beta": beta,
        "std_err": se,
        "t_value": tval,
        "p_value": pval,
        "sig_0.05": "*" if (not pd.isna(pval) and pval < 0.05) else "",
        "n_obs": int(model.nobs),
        "r_squared": model.rsquared
    })

result_table = pd.DataFrame(rows).sort_values("horizon_min").reset_index(drop=True)

# âœ… p-value í¬ë§· ì¡°ì • (ì§€ìˆ˜í‘œê¸° ì—†ì´ ì†Œìˆ˜ì  8ìë¦¬, 0ì€ "<1e-8"ë¡œ í‘œì‹œ)
result_table["p_value"] = result_table["p_value"].apply(
    lambda x: f"{x:.12f}" if (x > 0 and not pd.isna(x)) else "<1e-8"
)

# ë³´ê¸° ì¢‹ê²Œ ì¶œë ¥
display_cols = ["horizon_min", "beta", "std_err", "t_value", "p_value", "sig_0.05", "n_obs", "r_squared"]
print(result_table[display_cols].to_string(index=False))

 horizon_min     beta  std_err  t_value        p_value sig_0.05  n_obs  r_squared
           1 0.206663 0.043081 4.797013 0.000001610492        *   8606   0.002849
           2 0.180292 0.046854 3.847966 0.000119102338        *   8563   0.001836
           3 0.191986 0.049038 3.915014 0.000090399026        *   8508   0.001940
           4 0.191368 0.050178 3.813763 0.000136866809        *   8457   0.001873
           5 0.162647 0.049603 3.279003 0.001041745461        *   8411   0.001400
           6 0.151854 0.049614 3.060701 0.002208197210        *   8360   0.001219
           7 0.127205 0.048732 2.610276 0.009046910950        *   8311   0.000884
           8 0.100489 0.048493 2.072243 0.038242759840        *   8248   0.000555
           9 0.121149 0.048981 2.473382 0.013384096256        *   8192   0.000803
          10 0.127670 0.049418 2.583460 0.009781479642        *   8135   0.000883

# ë°©í–¥ ì •í•©ì„±

### ğŸ“˜ ëª¨í˜•ì‹ ì •ì˜

$$
\text{logit}^{-1}(x) = \frac{1}{1 + e^{-x}}
$$

$$
Pr(hit_{i,t} = 1) = \text{logit}^{-1}(\alpha + \beta \cdot period\_dummy_i)
$$
---

### ğŸ“Š ë³€ìˆ˜ ì„¤ëª…


ì´ë²¤íŠ¸ *i*, ì°½ *t* ì— ëŒ€í•´ Delta CAR, post CAR 2ê°œì˜ ì§€í‘œë¥¼ ì‚¬ìš©

$$
t \in \{10,\,20,\,\dots,\,60\}
$$

$$
\Delta CAR_{i,t} = CAR_{post,i,t} - CAR_{pre,i,t}  
$$

$$
CAR_{post,i,t}
$$

$$
label\_sign_i =
\begin{cases}
+1, & \text{ê¸ì • (1)} \\
0, & \text{ì¤‘ë¦½ (0)} \\
-1, & \text{ë¶€ì • (-1)} 
\end{cases}
$$



$$
hit_{i,t} =
\begin{cases}
1, & \text{if } \operatorname{sign}(\Delta CAR_{i,t}) = label\_sign_i \\
0, & \text{otherwise}
\end{cases}
$$

---

### ğŸ“‘ ê°€ì„¤ ì„¤ì •

$$
\begin{aligned}
H_0 &: \beta = 0 \quad &(\text{ë„ì… ì „í›„ ì°¨ì´ ì—†ìŒ}) \\
H_1 &: \beta > 0 \quad &(\text{ë„ì… í›„ ì •í•©ë¥  ìƒìŠ¹})
\end{aligned}
$$

---

### ğŸ“ˆ í•´ì„

- delta CAR: Î² > 0 ì´ê³  **í†µê³„ì ìœ¼ë¡œ ìœ ì˜**í•˜ë‹¤ë©´  â†’ â€œí…”ë ˆê·¸ë¨ ì„œë¹„ìŠ¤ ì¶œì‹œ ì´í›„ ê³¼ì‰ë°˜ì‘ ê°ì†Œ / ì¦‰ì‹œ ë°˜ì˜ í›„ ë¹ ë¥¸ ìˆ˜ë ´ â†’ ì •ë³´ì˜ ì„ ë°˜ì˜ ë° ì‚¬ì „ í™•ì‚°ì´ ê°•í™” â†’ ì •ë³´ íš¨ìœ¨ì„± í–¥ìƒâ€ì„ ì˜ë¯¸í•œë‹¤ê³  ë³¼ ìˆ˜ ìˆë‹¤.
- Post CAR: Î² > 0 ì´ê³  **í†µê³„ì ìœ¼ë¡œ ìœ ì˜**í•˜ë‹¤ë©´  â†’ â€œí…”ë ˆê·¸ë¨ ì„œë¹„ìŠ¤ ì¶œì‹œ ì´í›„ ì´ë²¤íŠ¸ ë°œí‘œ ì´í›„ì˜ ì •í•©ë¥ (ì •í™•ë„) ì¦ê°€ â†’ ì‹œì¥ ë°˜ì‘ì˜ ì¦‰ì‹œ ë°˜ì˜ ê°•í™” â†’ ì •ë³´ íš¨ìœ¨ì„± í–¥ìƒâ€ì„ ì˜ë¯¸í•œë‹¤ê³  í•´ì„í•  ìˆ˜ ìˆë‹¤.

â€œì¤‘ë¦½ ì´ë²¤íŠ¸ë¥¼ í¬í•¨í•œ ëª¨ë¸ì—ì„œëŠ” í…”ë ˆê·¸ë¨ ë„ì… ì´í›„ ì •í•©ë¥ ì´ ìœ ì˜í•˜ê²Œ ìƒìŠ¹í•˜ì˜€ìœ¼ë‚˜,
ì¤‘ë¦½ì„ ì œì™¸í•œ ê²½ìš°ì—ëŠ” ê·¸ íš¨ê³¼ê°€ ì•½í™”ë˜ì—ˆë‹¤. ì´ëŠ” ì •ë³´ íš¨ìœ¨ì„± ê°œì„ ì´
ì£¼ë¡œ ê°€ê²© ë°˜ì‘ì˜ â€˜ì ì •ì„±(overshooting ê°ì†Œ)â€™ í˜¹ì€ â€˜ë¹„ê³¼ì‰ ë°˜ì‘â€™ ì˜ì—­ì—ì„œ ë‚˜íƒ€ë‚¬ìŒì„ ì‹œì‚¬í•œë‹¤.
ë‹¤ì‹œ ë§í•´, ì‹œì¥ì´ ìƒˆë¡œìš´ ì •ë³´ë¥¼ ê³¼ë„í•˜ê²Œ ë°˜ì‘í•˜ì§€ ì•Šê³  ì‹ ì†íˆ í¡ìˆ˜í•˜ê²Œ ëœ ê²°ê³¼ë¡œ ë³¼ ìˆ˜ ìˆë‹¤.â€

ë˜ëŠ” ìš”ì•½í˜•ìœ¼ë¡œ:

â€œíš¨ìœ¨ì„± ê°œì„ ì€ ë°©í–¥ì„± ì˜ˆì¸¡ë ¥ì´ ì•„ë‹ˆë¼, ë¶ˆí•„ìš”í•œ ë°˜ì‘ì„ ì¤„ì´ëŠ” í˜•íƒœë¡œ ë‚˜íƒ€ë‚¬ë‹¤.â€

## ì¤‘ë¦½ í¬í•¨

In [5]:
import sys
import os
sys.path.append('.')

from hypothesis_test import (
    print_sample_summary_with_neutral,
    logistic_hit_delta_with_neutral,
    logistic_hit_postCAR_with_neutral,
    run_logistic_table
)

# === ì „ì²´ íŒŒì´í”„ë¼ì¸ (ì¤‘ë¦½ í¬í•¨, ì¤‘ë¦½ì€ Î”CAR/POSTCAR ì ˆëŒ€ê°’ ê¸°ì¤€) ===

df = df_total.copy()
df["label_sign"] = df["label"]

df_full = print_sample_summary_with_neutral(df, "label_sign")

# Î”CAR ê¸°ì¤€ (pre/post window ì°¨ì´, ì¤‘ë¦½ì€ epsilon ìë™ ê³„ì‚°)
windows = list(range(1, 11))
results_delta_w_neutral = run_logistic_table(
    logistic_hit_delta_with_neutral, df_full, windows, label="Î”CAR (neutral incl.)"
)

# post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ, ì¤‘ë¦½ì€ epsilon ìë™ ê³„ì‚°)
results_post_w_neutral = run_logistic_table(
    logistic_hit_postCAR_with_neutral, df_full, windows, label="post CAR (neutral incl.)"
)

=== Sample summary (including neutral) ===
Total events:        8,656
Neutrals:            2,980
  - Positive (1):    4,906
  - Negative (-1):   770


--- Î”CAR (neutral incl.) ê¸°ì¤€ ê²°ê³¼ ---
 t  beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs     R2  adj_R2
 1 -0.2352*** 0.0574  -4.097 0.000042       0.790     0.843    0.809    -3.37   8656 0.0021  0.0016
 2 -0.2278*** 0.0573  -3.972 0.000071       0.796     0.842    0.809    -3.27   8656 0.0020  0.0015
 3  -0.1662** 0.0560  -2.965 0.003025       0.847     0.827    0.802    -2.50   8656 0.0011  0.0006
 4  -0.1593** 0.0548  -2.905 0.003675       0.853     0.817    0.792    -2.51   8656 0.0010  0.0005
 5    -0.1045 0.0543  -1.924 0.054301       0.901     0.807    0.790    -1.68   8656 0.0004 -0.0000
 6  -0.1420** 0.0534  -2.657 0.007878       0.868     0.801    0.778    -2.36   8656 0.0008  0.0003
 7  -0.1658** 0.0523  -3.172 0.001513       0.847     0.791    0.762    -2.87   8656 0.0011  0.0007
 8  -0.1463** 0.0518  -2.826 0.004710       0.864     0.783    0.757    -2.59   8656 0.0009  0.0004
 9 -0.1721*** 0.0513  -3.353 0.000800       0.842     0.780    0.749    -3.09   8656 0.0012  0.0008
10    -0.0979 0.0507  -1.933 0.053240       0.907     0.764    0.746    -1.81   8656 0.0004 -0.0000

--- post CAR (neutral incl.) ê¸°ì¤€ ê²°ê³¼ ---
 t  beta_star    std  t_stat      p_value  odds_ratio  p_before  p_after  diff_pp  n_obs     R2  adj_R2
 1 -0.2589*** 0.0453  -5.717 1.084200e-08       0.772     0.664    0.604    -6.00   8656 0.0029  0.0025
 2 -0.2688*** 0.0455  -5.906 3.499000e-09       0.764     0.674    0.612    -6.16   8656 0.0031  0.0027
 3 -0.2196*** 0.0452  -4.858 1.188096e-06       0.803     0.657    0.606    -5.10   8656 0.0021  0.0017
 4 -0.2406*** 0.0450  -5.348 8.882300e-08       0.786     0.650    0.594    -5.65   8656 0.0025  0.0021
 5 -0.2438*** 0.0449  -5.426 5.763400e-08       0.784     0.648    0.591    -5.74   8656 0.0026  0.0022
 6 -0.2505*** 0.0447  -5.598 2.171900e-08       0.778     0.640    0.581    -5.95   8656 0.0027  0.0024
 7 -0.2683*** 0.0446  -6.016 1.787000e-09       0.765     0.634    0.570    -6.42   8656 0.0031  0.0028
 8 -0.2401*** 0.0446  -5.382 7.358200e-08       0.787     0.633    0.575    -5.74   8656 0.0025  0.0022
 9 -0.2437*** 0.0445  -5.473 4.434300e-08       0.784     0.629    0.570    -5.84   8656 0.0026  0.0022
10 -0.2265*** 0.0444  -5.098 3.424550e-07       0.797     0.621    0.567    -5.46   8656 0.0022  0.0019

## ì¤‘ë¦½ ì œê±°

In [6]:
from hypothesis_test import (
    print_sample_summary,
    logistic_hit_delta,
    logistic_hit_postCAR,
    run_logistic_table
)

# === ì „ì²´ íŒŒì´í”„ë¼ì¸ ===

df = df_total.copy()
df["label_sign"] = df["label"]
df_nn = print_sample_summary(df, "label_sign")

# Î”CAR ê¸°ì¤€ (pre/post window ì°¨ì´ ì‚¬ìš©)
windows = list(range(1, 11))
results_delta = run_logistic_table(
    logistic_hit_delta, df_nn, windows, label="Î”CAR", include_r2=False
)

# post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ ì‚¬ìš©)
results_post = run_logistic_table(
    logistic_hit_postCAR, df_nn, windows, label="post CAR", include_r2=False
)

=== Sample summary (neutral removed) ===
Total events:        8,656
Removed neutrals:    2,980
Used (non-neutral):  5,676
  - Positive (1):    4,906
  - Negative (-1):   770


--- Î”CAR ê¸°ì¤€ ê²°ê³¼ ---
 t beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs
 1   -0.0338 0.0633  -0.534 0.593081       0.967     0.772    0.766    -0.60   5676
 2   -0.0492 0.0630  -0.780 0.435317       0.952     0.771    0.762    -0.88   5676
 3    0.0118 0.0615   0.192 0.847610       1.012     0.747    0.749     0.22   5676
 4   -0.0058 0.0604  -0.096 0.923831       0.994     0.734    0.733    -0.11   5676
 5    0.0675 0.0600   1.125 0.260747       1.070     0.720    0.734     1.34   5676
 6    0.0191 0.0591   0.324 0.745786       1.019     0.712    0.716     0.39   5676
 7   -0.0165 0.0582  -0.284 0.776751       0.984     0.700    0.697    -0.35   5676
 8   -0.0187 0.0578  -0.324 0.745908       0.981     0.693    0.689    -0.40   5676
 9   -0.0412 0.0574  -0.717 0.473389       0.960     0.689    0.680    -0.89   5676
10    0.0659 0.0570   1.156 0.247844       1.068     0.667    0.682     1.45   5676

--- post CAR ê¸°ì¤€ ê²°ê³¼ ---
 t beta_star    std  t_stat  p_value  odds_ratio  p_before  p_after  diff_pp  n_obs
 1   -0.0485 0.0536  -0.905 0.365365       0.953     0.465    0.453    -1.20   5676
 2   -0.0665 0.0534  -1.244 0.213396       0.936     0.486    0.470    -1.66   5676
 3    0.0035 0.0535   0.065 0.948402       1.003     0.465    0.466     0.09   5676
 4   -0.0196 0.0536  -0.365 0.715290       0.981     0.457    0.452    -0.48   5676
 5   -0.0202 0.0536  -0.376 0.706953       0.980     0.456    0.451    -0.50   5676
 6   -0.0195 0.0538  -0.363 0.716534       0.981     0.444    0.439    -0.48   5676
 7   -0.0553 0.0539  -1.026 0.305123       0.946     0.440    0.426    -1.36   5676
 8   -0.0274 0.0538  -0.508 0.611117       0.973     0.440    0.434    -0.67   5676
 9   -0.0388 0.0539  -0.719 0.471900       0.962     0.437    0.427    -0.95   5676
10   -0.0130 0.0540  -0.241 0.809622       0.987     0.429    0.425    -0.32   5676

ì •ë³´ì˜ ì„ ë°˜ì˜(anticipation)Â·ì‚¬ì „í™•ì‚° ê°•í™”
- í…”ë ˆê·¸ë¨ ë„ì… ì´í›„, ê³µì‹œ ì§ì „ì— ê°ì„± ë°©í–¥ìœ¼ë¡œ ë¯¸ë¦¬ ì›€ì§ì´ëŠ” ë¹„ìœ¨/í¬ê¸°ê°€ ì»¤ì¡Œì„ ê°€ëŠ¥ì„±
- ê·¸ë˜ì„œ ê³µì‹œ ìˆœê°„ì˜ post CAR ë°©í–¥ ì •í•©ì€ ë†’ì•„ì§€ì§€ë§Œ(Î²_post>0), â€œì§ì „ ëŒ€ë¹„ ì¶”ê°€ë¡œ ì–¼ë§ˆë‚˜ ê°™ì€ ë°©í–¥ìœ¼ë¡œ ë” ê°€ëŠëƒâ€ë¥¼ ë³´ëŠ” Î”CAR ê¸°ì¤€ì—ì„œëŠ” ì¶”ê°€ë¶„ì´ ì¤„ì–´ **ì •í•©ì„±â†“**ë¡œ ê´€ì¸¡(Î²_Î”<0)

ê³¼ì‰ë°˜ì‘ ê°ì†Œ / ì¦‰ì‹œ ë°˜ì˜ í›„ ë¹ ë¥¸ ìˆ˜ë ´
- ë„ì… ì „ì—ëŠ” ê³µì‹œ ì§í›„ ê°™ì€ ë°©í–¥ìœ¼ë¡œ ê³¼ë„í•˜ê²Œ ë” ë°€ë˜ íŒ¨í„´ì´, ë„ì… í›„ì—ëŠ” ì´ë¯¸ ë°˜ì˜ë˜ì–´ ì¶”ê°€ ë°€ë¦¼ì´ ì¤„ì–´ë“¦ â†’ Î” ê¸°ì¤€ ì •í•©ì„± ê°ì†Œ(Î²_Î”<0).
- í•˜ì§€ë§Œ â€œì´ˆê¸° ë°©í–¥â€ ìì²´ëŠ” ë” ì •í™•í•´ì§ â†’ post ê¸°ì¤€ ì •í•©ì„± ì¦ê°€(Î²_post>0).


ë„ì… í›„ ì‹œì¥ì€ ê°ì„± ë°©í–¥ìœ¼ë¡œ â€œë¹ ë¥´ê²Œ ë§ê²Œ ì›€ì§ì´ì§€ë§Œâ€, ì§ì „ì— ì´ë¯¸ ë°˜ì˜ëœ íƒ“ì— ê³µì‹œ ìˆœê°„ì˜ â€œì¶”ê°€â€ ê°™ì€ ë°©í–¥ ë°€ë¦¼ì€ ì¤„ì–´ë“ ë‹¤. ì´ëŠ” â€œì •ë³´ì˜ ë” ë¹ ë¥¸ í™•ì‚°Â·ë°˜ì˜â€ì´ë¼ëŠ” íš¨ìœ¨ì„± ê°œì„  ìŠ¤í† ë¦¬ì™€ ì¼ê´€ë©ë‹ˆë‹¤.

In [7]:
# windows = list(range(1, 11))
# results_delta_w_neutral = run_logistic_table(
#     logistic_hit_delta_with_neutral, df_full, windows, label="Î”CAR (neutral incl.)", neutral_epsilon=0.45
# )

# # post CAR ê¸°ì¤€ (ê³µì‹œ ì´í›„ë§Œ, ì¤‘ë¦½ì€ abn_ret_{h}m ì ˆëŒ€ê°’ 0.5 ì´í•˜ hit)
# results_post_w_neutral = run_logistic_table(
#     logistic_hit_postCAR_with_neutral, df_full, windows, label="post CAR (neutral incl.)", neutral_epsilon=0.5
# )